@model GymateMVC.Application.ViewModels.ExerciseVm.ListForExercisesListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Exercise Type
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exercise in Model.ListExercisesForList) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => exercise.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exercise.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exercise.ExerciseTypeName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
        }
    </tbody>
</table>
